<form action="/articles/<%=@article.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label for="title">Title</label>
  <input id="title" type="text" name="article[title]" placeholder=<%= @article.title%>>
  <label id="content">Content</label>
  <input id="content" type="text" name="article[content]" placeholder=<%= @article.content%>>
  <input type="submit">
</form>
