
<h1> Create an Article</h1>
<form action="/articles" method="post" >
  <div>
    <label for="title">Enter article's title: </label>
    <input type="text" name="title" id="title" >
  </div>
  <div>
  <label for="content">Enter article's content: </label>
    <input type="text" name="content" id="content" >
  </div>
    <input type="submit" value="Create Article">
  </div>
</form>