<h2>Article</h2>
<form method="POST" action='/articles'>
  <label for="article_title"> Title</label>
  <input type="text" name="title">
  <br>
  <textarea name="content" cols="25" rows="5">
  Insert content
  </textarea>
    <p><button type="submit">Submit</button></p>
</form>
