<h2>This is where the magic happens.</h2>
<form action="/articles" method="post">
  <p>Title: <input style="min-width:445px" type="text" name="title"></p>
  <p>Content: <input style="min-height:200px; min-width:400px" type="text" name="content"></p>
  <input type="submit" id="submit">
</form>
