<h1>Create a new article</h1>

<form action="/articles" method="post">
   <label for="title">Enter your article title:</label>
   <input id="title" type="text" name="title" />
   <label for="content">Enter your article content:</label>
   <input id="content" type="text" name="content" />
   <input type="submit" value="Create an article!">
</form>
