<h1>Post a new article</h1>

<form action="/articles/new" method="post">
  <p>Title: <input type="text" name="title"></p>
  <p>Content: <input type="text" name="content"></p>
  <p><button type="submit" value="submit">Submit</button></p>
</form>
