<h>New Article</h>

<form class="" action="/articles" method="post">
  <label for="title">Title</label><br>
  <input type="text" id="title" name="title"><br>
  <label for="content">Content</label><br>
  <input type="text" id="content" name="content">
  <input type="submit" id="click_button" value="Submit">
</form>
