<h1>Article</h1>

<p>Title: <%= @article.title %></p>
<p>Content: <%= @article.content %></p>

<form class="" action="/articles/<%= @article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" id="click_button" value="Delete">
</form>

<a href="/articles">All articles</a><br>
<a href="/articles/new">New article</a>
